@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body, input, select, textarea {
  font-family: 'IBM Plex Sans';
}

nav {
  display: block;
  width: 100%;
}
nav a {
  padding: 1rem;
}
.select {
  padding: .25rem .5rem;
}
.select-fields {
  margin: 1rem 0;
}
.label-inline {
  position: relative;
  top: 2px;
}
.total-time {
  display: inline-block;
  position: relative;
  top: 2px;
  margin-left: 1rem;
}

/* tabs */
.tabs {

}
.tab-content-wrapper {
  transition: all 2s ease-in-out;
  background-color: #ededed;
}
.tab-content {
  display: block;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  opacity: 1;
  transition: all 2s ease-in-out;
}
.tab-content-backer {
  background-color: rgba(0,0,0,0.2);
}
.tab-fade-leave-to {
  height: auto;
  opacity: 0;
}
.tab-fade-enter-active {
  transition: all 2s ease-in-out;
}
.tab-fade-leave-active {
  transition: all 2s ease-in-out;
}