<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Playground</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.css">
  <link rel="stylesheet" href="./css/styles.css">  

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script defer src="./js/vm-navbar.js"></script>
  <script defer src="./js/vm-select-fields.js"></script>
  <script defer src="./js/vm-main.js"></script>
</head>

<body class="content">

  <main id="app">

    <navbar></navbar>
    
    <section class="container">
      
      <h1>Vue Existing Project App</h1>

      <hr>
      <h3>Time Field Selection</h3>
      
      <greeting newprop="I'm a prop" inline-template>
        <div>
          <p>First component: loading via separate js file. It's just defining the component including the template in that js file. It doesn't get rendered until main.js gets loaded so they need to be placed in order.</p>
          <p>Second component: Adding <code>inline-template</code> to the template tag will flag Vue to use that section for rendering a component.</p>
          <p>{{ myval }}</p>
          <p>{{ newprop }}</p>

          <hr>
          <h3>Output from CDN Axios...</h3>
          <p>Note: Using destructuring in the li's</p>
          <ul>
            <li v-for="{firstname, lastname, id} in myData" :key="id">{{firstname + ' ' + lastname}}</li>
          </ul>
          <button class="button is-primary" @click="doMethod">Go!</button>

        </div>
      </greeting>

      <hr>
      <h3>Time Field Selection</h3>

      <select-fields inline-template class="select-fields">
        <div>
          <p>This shows how you can incapsulate Footprint's time calculation and start/end times into a single component</p>
          <label for="start-time" class="label-inline">Start Time:</label>
          <select name="start-time" id="start-time" 
            ref="startTime" 
            class="select" 
            v-model="startTime"
            >
            <option v-for="time in times" :key="time.val" :value="time.val">
              {{time.label}}
            </option>
          </select>
          <label for="end-time" class="label-inline">End Time:</label>
          <select name="end-time" id="end-time" 
            ref="endTime" 
            class="select" 
            v-model="endTime"
            >
            <option v-for="time in times" :key="time.val" :value="time.val">
              {{ time.label }}
            </option>
          </select>
          <div class="total-time">
            {{ totalTime }} {{ properHours }}
            <input type="hidden" name="total-time" id="total-time" v-model="totalTime">
          </div>
        </div>
      </select-fields>
    
    </section>

  </main>

</body>
</html>